@import "tailwindcss";

:root {
  --background: #F3F4F4;
  --foreground: #1D546D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #061E29;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
